# Servidor
PORT=3000
NODE_ENV=development

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=consultoria_db
DB_USER=postgres
DB_PASSWORD=antonio1

# JWT
JWT_SECRET=1306ea9cf65d1c01dea0292363534cbdd9dbd5f4ff0de0f24da1500ab1dd6a400587a1be5e27f3379ea35d6faeaf020cf904a01239d12b1dc9d6d50d3fcc5778
JWT_EXPIRES_IN=7d

# Admin padrão (criado no seed)
ADMIN_EMAIL=admin@consultoria.com
ADMIN_PASSWORD=Admin@123

# Upload
UPLOAD_DIR=uploads
MAX_FILE_SIZE=10485760
